---
layout: bootcamp
root: .
venue: Duke University 
address: The Edge Workshop Room, Bostock Library, 411 Chapel Dr, Durham, NC 27708
country: United-States
humandate: Oct 27-29, 2015  
humantime: 9:00 am - 4:30 pm 
startdate: 2015-10-27   
enddate: 2015-10-29 
latlng: 36.0035865,-78.9387714
registration: restricted
instructor: ["David Champion", "Bala Desinghu", "Rob Gardner", "Emelie Harstad", "Mats Rynge", "Suchandra Thapa"]
helper: ["Tom Milledge, Lincoln Bryant"]
contact: balamurugan@uchicago.edu
---
    

<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.

-->

<h2>General Information</h2>

<p>
  The <a href="http://www.opensciencegrid.org">Open Science Grid</a> (OSG) is a national scale distributed 
  infrastructure for scientific computing.  The <a href="http://osgconnect.net">OSG Connect</a>
  service provides easy access to the resources that OSG provides. The OSG also offers training and tutorials for the 
  scientists and researchers. As part of our training service we are offering an extended Software Carpentry 
  workshop which augments instruction on basic Linux tools and programming with tutorials on using distributed 
  high throughput computing workflows on the OSG. Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<p>
  <a href="http://software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
</p>

<p>
<a href="https://rc.duke.edu/author/mdelongduke-edu/">Duke Research Computing</a> offers services that are 
useful to research computing “as it is practiced” across Duke and often in collaboration with researchers 
at other institutions. Duke Research Computing offers wide-ranging education and training opportunities to the Duke community and seeks in its activities to bring researchers together who apply computational and quantitative methods to every field represented in the University’s faculty.
</p>

<p>
  This workshop is being run by the <a href="http://opensciencegrid.org/">OSG</a>, in collaboration with 
  <a href="http://software-carpentry.org">Software Carpentry</a> and <a href="https://rc.duke.edu/author/mdelongduke-edu/">Duke Research Computing</a>.
</p>

</p>
  
<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!-- This block displays the helpers' names if they are available. -->
{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students, post-doctoral researchers and other researchers.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="https://goo.gl/maps/jmNmm">Google Maps</a>. 
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with `SSH` installed (see setup for more details).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  For more information, please email: <a> clv4@duke.edu, balamurugan@uchicago.edu   </a>
</p>

<hr/>

<h2>Registration</h2>
<p>
Event is free but registration required. Space is limited for the event. To register,  please <a href="http://training.oit.duke.edu/research"> visit here </a>.
</p>
<hr/>

<h2>Schedule</h2>

<div class="row-fluid">
  <div class="span6">
    <h4>Introduction to Unix, Oct-27th, 9.00 AM - 12.00 PM</h4>
    <h5>Location: The Edge Workshop Room, Bostock Library</h5> 
    <h5>Instructor: Emelie</h5> 
     <h4> </h4>
    <table class="table table-striped">
      <tr> <td>09:00 - 10.30 </td> <td><a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/shell/index.html" >Introduction to the Unix shell</a> - (<a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/shell/SWC-Duke-20151027.pdf" >Slides</a>) Emelie </td> </tr> 
      <tr> <td><em> 10.30 - 10.45 </em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>10:45 - 12.00 </td> <td><a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/shell/index.html" >Introduction to the Unix shell</a> (continued) - Emelie </td> </tr> 
    </table>
     <h4> </h4>
  </div>

  <div class="span6">
    <table class="table table-striped">
    <h4>Version Control, Oct-27th, 1.30 PM - 4.30 PM</h4>
    <h5>Location: The Edge Workshop Room, Bostock Library</h5> 
    <h5>Instructor: Bala </h5> 
     <h4> </h4>
      <tr> <td>1:30 - 3.00</td> <td><a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/git/index.html">Version control with Git</a> - Bala </td> </tr>
      <tr> <td><em> 3.00 - 3.15 </em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>3:15 - 4.30 </td> <td><a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/git/index.html">Version control with Git</a> (continued) - Bala </td> </tr>
    </table>
     <h4> </h4>
  </div>
</div>

<h2> </h2>
<div class="row-fluid">
  <div class="span6">
    <h4>Python Programming - I, Oct-28th, 9.00 AM - 12.00 PM</h4>
    <h5>Location: The Edge Workshop Room, Bostock Library</h5> 
    <h5>Instructor: David </h5> 
    <h3> </h3>
    <table class="table table-striped">
      <tr> <td>09:00 - 10.30 </td> <td><a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/python/index.html"> Building programs with Python</a> (Part 1) - David </td> </tr>
      <tr> <td><em>10.30 - 10.45 </em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>10:45 - 12.00</td> <td><a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/python/index.html"> Building programs with Python</a> (Part 1, continued) - David </td> </tr>
      </table>
  </div>

  <div class="span6">
     <h4>Python Programming - II, Oct-28th, 1.30 PM - 4.30 PM</h4>
    <h5>Location: The Edge Workshop Room, Bostock Library</h5> 
    <h5>Instructor: Suchandra </h5> 
     <h3> </h3>
      <table class="table table-striped">
      <tr> <td>1:30 - 3.00</td> <td><a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/python/index.html">Building programs with Python</a>(Part 2) - Suchandra </td> </tr>
      <tr> <td><em> 3.00 - 3.15 </em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>3:15 - 4.30</td> <td><a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/python/index.html">Building programs with Python</a>(Part 2, continued) - Suchandra </td> </tr>
    </table>
  </div>
</div>

<h2> </h2>
<div class="row-fluid">
  <div class="span12">
     <h2> </h2>
    <h4>What is High Throughput Computing and how can it speed up my research? Oct-28th, 6.00 PM - 8.00.PM (Special Event) </h4>
    <h5>Speaker: Dr. Robert Gardner </h5> 
    <h5>Location: Gross Hall, 2nd floor - Connection Space</h5> 
    <table class="table table-striped">
      <tr> <td>6:00 - 8.00</td> <td>Talk, Pizza and Informal Discussion</td> </tr>
    </table>
     <h2> </h2>
  </div>
</div>


<h2> </h2>
<div class="row-fluid">
  <div class="span6">
    <h4> Basics of High Throughput Computing </h4>
    <h4> Oct-29th, 9.00 AM - 12.00 PM </h4>
    <h5>Location: The Edge Workshop Room, Bostock Library</h5> 
    <h5>Instructors: Emelie, Mats and David  </h5> 
     <h4> </h4>
    <table class="table table-striped">
      <tr> <td>09:00 - 9.30 </td> <td> <a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/DHTC/01-IntroGrid.html">Introduction to OSG </a> - (<a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/DHTC/OSG_Intro_Duke_2015.pdf" >Slides</a>) Emelie </td> </tr>
      <tr> <td>09:30 - 10.30 </td> <td><a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/DHTC/04-HTCondor-Submitting.html"> Job Scheduling with HTCondor</a> - Mats </td> </tr>
      <tr> <td><em>10.30 - 10.45  </em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>10:45 - 11.30 </td> <td><a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/DHTC/07-TroubleShooting.html"> Trouble Shooting Failed Jobs</a> - Mats </td> </tr>
      <tr> <td>11.30 - 12.00  </td> <td> Connecting the Campus to the Grid Resources - David </td> </tr>
    </table>
  </div>

  <div class="span6">
    <h4> Large Scale High Throughput Computing</h4>
    <h4> Oct-29th, 1.30 PM - 4.30 PM</h4>
    <h5>Location: The Edge Workshop Room, Bostock Library</h5> 
    <h5>Instructors: Suchandra, Bala and Mats </h5> 
     <h4> </h4>
    <table class="table table-striped">
      <tr> <td>1:30 - 2.30 </td> <td> <a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/DHTC/05-Stash.html">Handling Data</a> - Suchandra </td> </tr>
      <tr> <td>2:30 - 3.00 </td> <td><a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/DHTC/04a-ScalingUp.html"> Scaling Up Computing Resources (R and MATLAB runtime examples) </a> - Bala </td> </tr>
      <tr> <td><em>3.00 - 3.15 </em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>3:15 - 4.00</td> <td> <a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/DHTC/06-dagman-namd.html">Handling Job Dependencies - DAGMan </a> - Bala </td> </tr>
      <tr> <td>4:00 - 4.30</td> <td> <a href="http://swc-osg-workshop.github.io/2015-10-27-duke/novice/DHTC/06a-pegasus.html">Large Scale Computation with Pegasus</a> - Mats </td> </tr>
    </table>
  </div>
</div>
<hr/>

<!--
    Edit this block to show what topics will be covered.
-->

<h2>Setup Instructions </h2>
<p>
  <a href="setup.html">Instructions to set up the required software on Linux, Windows and Mac laptops and OSG sign up information. </a>
</p>

<p>
We will do all the exercises on `login.duke.ci-connect.net`.  If you do not have an account on `duke.ci-connect`, [please sign up](https://duke.ci-connect.net/signup).  You have an account on `duke.ci-connect but forgot the password, [click here](http://duke.ci-connect.net/password).  You also need `SSH` installed on your laptop.  For details, follow [this link](http://swc-osg-workshop.github.io/2015-10-27-duke/setup.html)
</p>

<p>
  <a href="https://docs.google.com/presentation/d/1zZsiUgWtVcKQgCqveZNp_L3o7xtShL8AACb2r7TthkM/edit?usp=sharing"> Welcome Slide </a>
</p>
<hr/> 

<h2>Lessons</h2>
<p>
  <a href="contents.html">Course material for the workshop</a>. 
</p>
<hr/> 

<h2>Survey</h2>
<p>
   <a href="http://goo.gl/forms/D7rtZcJfEP"> Pre Workshop Survey </a> 
</p>

<p>
   <a href="http://goo.gl/forms/2oqAiqGF3H"> Post Workshop Survey (unix, git and python) </a> 
</p>

<p>
   <a href="http://goo.gl/forms/jUP7W91mbo"> Post Workshop Survey (high throughput computing) </a> 
</p>
<hr/> 


<h2>Monitor</h2>
<p>
  <a href="http://grafana.mwt2.org:3000/dashboard/db/duke-connect-queue">Job monitor</a>. 
</p>
<hr/> 


<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->
