<h2>Contacts</h2>

<h4> Questions related workshop </h4>
<p>
Questions related workshop:
<a href="mailto:balamurugan@uchicago.edu?Subject=SWC-OSG%20Workshop" target="_top"> Send Mail - Bala Desinghu</a>
<a href="mailto:ssthapa@uchicago.edu?Subject=SWC-OSG%20Workshop" target="_top"> Send Mail - Suchandra Thapa</a>
<a href="mailto:rwg@uchicago.edu?Subject=SWC-OSG%20Workshop" target="_top"> Send Mail - Rob Gardner</a>
</p>
<hr/>

<h4> Questions related Open Science Grid </h4>
<p>
Questions related workshop:
<a href="mailto:connect-support@opensciencegrid.org?Subject=SWC-OSG%20Connect" target="_top"> Send Mail - OSG support team</a>
<a href="mailto:support@uchicago.ci-connect.net?Subject=SWC-OSG%20Connect" target="_top"> Send Mail - UChicago CI Connect support team</a>
</p>
<hr/>

<h4> Questions related Software Carepentry </h4>
<p>
<a href="mailto:admin@software-carpentry.org?Subject=SWC-OSG%20SWC" target="_top"> Send Mail - SWC support team</a>
</p>
<hr/>



