<!DOCTYPE html>
<html>
  <head>
    
      <title>Lessons (Version 5.0 Beta)</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
<link href="./css/bootstrap/bootstrap.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="./css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="./css/swc.css" />
<link rel="stylesheet" type="text/css" href="./css/swc-bootstrap.css" />
<link rel="alternate" type="application/rss+xml" title="The Software Carpentry Blog" href="/feed.xml"/>
<meta charset="UTF-8" />
<meta http-equiv="last-modified" content="" />
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <link rel="stylesheet" type="text/css" href="./css/lesson.css" />
  </head>
  <body>
    <div class="container">
      <div class="banner">
  <a href="http://software-carpentry.org" title="Software Carpentry">
    <img alt="Software Carpentry banner" src="./img/software-carpentry-banner.png" />
  </a>
</div>


      <div class="row-fluid">
        <div class="span10 offset1">
	  <!-- start content -->
          
          <h1>Lessons (Version 5.0 Beta)</h1>
          
          <p>We are currently updating our lessons
to incorporate what we&#39;ve learned from our learners
in the last four years.</p>

<h2 id="for-novices">For Novices</h2>

<ul>
  <li><a href="intro.html">Introduction</a></li>
  <li><a href="novice/shell/index.html">The Unix Shell</a></li>
  <li><a href="novice/git/index.html">Version Control with Git</a></li>
  <li><a href="novice/python/index.html">Programming with Python</a></li>
  <li><a href="novice/sql/index.html">Using Databases and SQL</a></li>
  <li><a href="novice/extras/index.html">A Few Extras</a></li>
  <li><a href="novice/teaching/index.html">Instructor&#39;s Guide</a></li>
</ul>

<h2 id="for-the-more-experienced">For the More Experienced</h2>

<p>Under development.</p>

<h2 id="other-materials">Other Materials</h2>

<ul>
  <li><a href="setup.html">Setup Instructions</a></li>
  <li><a href="bib.html">Recommended Reading</a></li>
  <li><a href="gloss.html">Glossary</a></li>
  <li><a href="team.html">Our Team</a></li>
</ul>

	  <!-- end content -->
	</div>
      </div>

      <div class="footer">
  <a class="label swc-blue-bg" href="admin@software-carpentry.org">Email</a>
  <a class="label swc-blue-bg" href="https://twitter.com/swcarpentry">Twitter</a>
  <a class="label swc-blue-bg" href="http://software-carpentry.org/feed.xml">RSS</a>
  <a class="label swc-blue-bg" href="https://github.com/swcarpentry">GitHub</a>
  <a class="label swc-blue-bg" href="irc://moznet/sciencelab">IRC</a>
  <a class="label swc-blue-bg" href="./LICENSE.html">License</a>
  <a class="bugreport label swc-blue-bg" href="mailto:admin@software-carpentry.org?subject=bug%20in%20contents.md">Bug Report</a>
</div>

    </div>
    <!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery-1.9.1.min.js"></script>
<script src="./js/bootstrap/bootstrap.min.js"></script>

  </body>
</html>
