
<h2> Workshop  </h2>
<p>
<a href="mailto:balamurugan@uchicago.edu?Subject=SWC-OSG%20Workshop" target="_top"> Send Mail - Bala Desinghu</a>
</p>

<p>
<a href="mailto:ssthapa@uchicago.edu?Subject=SWC-OSG%20Workshop" target="_top"> Send Mail - Suchandra Thapa</a>
</p>

<p>
<a href="mailto:dgc@uchicago.edu?Subject=SWC-OSG%20Workshop" target="_top"> Send Mail - David Champion</a>
</p>

<p>
<a href="mailto:lincolnb@uchicago.edu?Subject=SWC-OSG%20Workshop" target="_top"> Send Mail - Lincoln Bryant</a>
</p>

<p>
<a href="mailto:rwg@uchicago.edu?Subject=SWC-OSG%20Workshop" target="_top"> Send Mail - Rob Gardner</a>
</p>
<hr/>


<h2> Open Science Grid  </h2>
<p>
<a href="mailto:connect-support@opensciencegrid.org?Subject=SWC-OSG%20Connect" target="_top"> Send Mail - OSG Connect support team</a>
</p>

<hr/>

<h2> Software Carepentry </h2>
<p>
<a href="mailto:admin@software-carpentry.org?Subject=SWC-OSG%20SWC" target="_top"> Send Mail - SWC support team</a>
</p>
<hr/>
