<div class="footer">
<!--
            <a class="label swc-white-bg" href="http://swc-osg-workshop.github.io/2014-12-15-UChicago/index.html"><h4> Home </h4> </a>
            <a class="label swc-white-bg" href="http://swc-osg-workshop.github.io/2014-12-15-UChicago/setup.html"> <h4> Setup </h4> </a>
            <a class="label swc-white-bg" href="http://swc-osg-workshop.github.io/2014-12-15-UChicago/contents.html"> <h4> Lessons </h4> </a>
            <a class="label swc-white-bg" href="http://swc-osg-workshop.github.io/2014-12-15-UChicago/syllabus.html"> <h4> Syllabus </h4> </a>
            <a class="label swc-white-bg" href="http://swc-osg-workshop.github.io/2014-12-15-UChicago/contacts.html"> <h4> Contacts </h4> </a>
-->
</div>

