
<!--
<h2>Setup</h2>
-->

<p style="border: 1px solid #ccc; padding: 0.5em">
  We will do all the exercises on the Open Science Grid. If you do not have an account on the Open Science Grid,
    <a href="http://osgconnect.net/signup">please sign up</a>, either
    in advance of the course or first thing in the morning. It takes 5-10
    minutes to complete the sign up process and about 30 minutes to get
    your account activated.  
  Please make sure that you have the secured shell available on your laptop,  before the start of your workshop. 
</p>


<h4> Secured Shell and Secured Copy </h4>
   <p>
      <code>ssh</code> (secure shell) is an encrypted remote login tool. It lets you connect to remote resources, such as the OSG Connect login node and interact with the machine via UNIX shell.
      Similarly, <code>scp</code> (secure copy) is a tool that facilitates encrypted file transfer. We will use both to interact with OSG Connect.
   </p>

<h4 > Windows </h4>
   <p>
     Install <a href="http://www.putty.org/ "> PuTTY </a> which is a free implementation of SSH for Windows. 
   </p>

<h4 > Mac and Linux </h4>
   <p>
     Most of Mac and Linux systems come with the pre-installed ssh and scp commands, if not, install them. 
   </p>


<h4>Check your setup</h4>
<p>
  To check your account on OSG using web shell:
</p>

<ul> 
    <li> Once you finished your <a href="http://osgconnect.net/signup">Sign Up</a>, the account
activation may take about 30 minutes. </li> 
     <li> open  <a href="https://osgconnect.net/ssh-osg/">  WebShell </a>  </li> 
     <li> type in your username and password as prompted </li>
     <li> if everthing is fine you will land on your home directory </li>
</ul> 

