
<!--
<h2>Syllabus</h2>
-->

<div class="row-fluid">
  <div class="span6">
    <h3>The Unix Shell </h3>
    <ul>
      <li>Files and directories: <code>pwd</code>, <code>cd</code>, <code>ls</code>, <code>mkdir</code>, ...</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things: <code>grep</code>, <code>find</code>, ...</li>
      <li><a href="novice/ref/01-shell.html">Reference...</a></li>
    </ul>
  </div>
  <div class="span6">
    <h3>Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Open licenses</li>
      <li>Where to host work, and why</li>
      <li><a href="novice/ref/02-git.html">Reference...</a></li>
    </ul>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3>Programming in Python </h3>
    <ul>
      <li>Using libraries</li>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals: <code>for</code>, <code>if</code>, <code>else</code>, ...</li>
      <li>Defensive programming</li>
      <li>Using Python from the command line</li>
      <li><a href="novice/ref/03-python.html">Reference...</a></li>
    </ul>
  </div>
  <div class="span6">
    <h3> Grid Computing </h3>
    <ul>
      <li> Log in to a remote machine - secured shell  <code> ssh </code>  </li> 
      <li> Data Transfer  <code> scp </code> <code> rsync </code>, <code> globus </code> </li>
      <li> SSH keys: Access without password  </li>
      <li> Example: Running Python and unix scripts on a remote server </li>
      <li> Properties of Distributed High-Throughput Computing  </li>
      <li> Scheduling Computing Jobs via HTCondor </li>
      <li> Properties of Distributed High-Throughput Computing  </li>
      <li> Using software modules and <code>tutorial</code> </li>
      <li> Examples of running R and Python scripts </li>
      <li> HTCondor job scripts -  <code>condor_submit</code>, <code>condor_q </code>, <code>condor_rm</code>  </li>
      <li> Scaling up the resources: Example Unix and Python scripts </li>
      <li> <code>stash </code> - the data storage solution </li>
      <li> Scientfic workflows  - <code>DAGMan </code>, <code> Pegasus </code>, <code> Galaxy </code>  </li>
    </ul>
  </div>
 </div>

<hr/>

